# Dependencias
node_modules/

# Compilación
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Variables de entorno
.env
.env.*

# Sistema operativo e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Cobertura de pruebas
coverage/
